.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
writing0/main.aux
writing0/main.dvi
writing0/main.fdb_latexmk
writing0/main.fls
writing0/main.log
writing0/main.nav
writing0/main.out
writing0/main.snm
writing0/main.synctex.gz
writing0/main.toc
report/report.aux
report/report.bbl
report/report.blg
report/report.bcf
report/report.fdb_latexmk
report/report.fls
report/report.log
report/report.out
report/report.run.xml
report/report.synctex.gz
report/report.bcf-SAVE-ERROR
report/report.synctex(busy)