.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
writing0/main.aux
writing0/main.dvi
writing0/main.fdb_latexmk
writing0/main.fls
writing0/main.log
writing0/main.nav
writing0/main.out
writing0/main.snm
writing0/main.synctex.gz
writing0/main.toc
